h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', 'Arial', sans-serif;
}

.heading-color--purple {
  color: var(--purple);
}
.heading-color--white {
  color: var(--white);
}

h1 {
  font-size: 48px;
  font-weight: 900;
}
h2 {
  font-size: 40px;
  font-weight: 800;
}
h3 {
  font-size: 32px;
  font-weight: 700;
}
h4 {
  font-size: 28px;
  font-weight: 600;
}
h5 {
  font-size: 24px;
  font-weight: 600;
}
h6 {
  font-size: 20px;
  font-weight: 600;
}
.cta {
  font-family: 'Telegraf';
  font-size: 24px;
  font-weight: 900;

  color: var(--cta);
}